<section>
  <div>Sensor name: {{ bayesianSensor?.binary_sensor?.name }}</div>
  <div>Prior: {{ bayesianSensor?.binary_sensor?.prior }}</div>
  <div>Probability threshold: {{ bayesianSensor?.binary_sensor?.probability_threshold }}</div>

  <br />
  Observations:
  <div *ngFor="let observation of bayesianSensor?.binary_sensor?.observations">
    {{ observation.entity_id }}
  </div>

  <br />
  <div>Result: {{ '' }}</div>
</section>

<section>
  <div *ngIf="hasImportError">
    <span>{{ importError }}</span>
  </div>

  <button (click)="showCode = !showCode">
    {{ showCode ? 'Hide Code' : 'Show Code' }}
  </button>
  <ng-container *ngIf="showCode">
    <button (click)="importInput()">Import from code</button><br />
    <textarea class="main-input" [(ngModel)]="textInput"></textarea>
  </ng-container>
</section>
